<h2>Gwenpool Trivia!</h2>

Ope! That's not correct. Try again. Answer correctly this time, or it's your ego on the line, man...
<form method="POST" action="/check">
	<div><label for="gwenpool">Who gave Gwenpool her name?</label>
		<select name="answer" id="gwenpool">
			<option value="A">Spider-Gwen</option>
			<option value="B">Howard the Duck</option>
			<option value="C">Ronnie the Tailor</option>
			<option value="D">Gwendolyn Poole Herself</option>
		</select>
		<input type="submit">
	</div>
</form>
